/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define HOST_OS 1
#include "keymap_french.h"
#include "zmk-helpers/helper.h"

// Source desired key-position labels

#include "zmk-helpers/key-labels/lily58.h"

// Source unicode-chars for desired languages
#include "zmk-helpers/unicode-chars/french.dtsi"
#include "zmk-helpers/unicode-chars/greek.dtsi"



#define ERGOL_FR 0
#define ERGOL_FR_ACC 1
#define ERGOL_FR_ALT 2
#define ERGOL_US 3
#define ERGOL_US_ALT 4
#define GAMES 5
#define GAMES_ALT 6
#define NAVIGATION 7
#define LAYER_SWITCH 8

#include "combos.h"
#include "french-morph.h"
#include "french-macro.h"
#include "alt-morph.h"

ZMK_LAYER(ergol_fr,
// ╭───────────────┬──────────┬──────────┬───────────────┬──────────┬────────╮                      ╭────────────┬─────────┬─────────┬─────────────────┬─────────┬────────────────╮
    &kp ESC         &FR_N1     &FR_N2     &FR_N3          &FR_N4     &FR_N5                          &FR_N6       &FR_N7    &FR_N8    &FR_N9            &FR_N0    &kp HOME
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┤                      ├────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp TAB         &kp FR_Q   &kp C      &kp O           &kp P      &kp FR_W                        &kp J        &kp FR_M  &kp D     &dead_key         &kp Y     &kp END
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┤                      ├────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp LEFT_SHIFT  &kp FR_A   &kp S      &kp E           &kp N      &kp F                           &kp L        &kp R     &kp T     &kp I             &kp U     &kp RIGHT_SHIFT
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┼──────────┬───────────┼────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp LCTRL       &kp FR_Z   &kp X      &dash_question  &kp V      &kp B    &kp INS    &kp PSCRN   &dot_colon   &kp H     &kp G     &comma_semicolon  &kp K     &kp RCTRL
// ╰───────────────┴──────────┴──────────┼───────────────┼──────────┼────────┼──────────┼───────────┼────────────┼─────────┼─────────┼─────────────────┴─────────┴────────────────╯
                                          &kp LALT        &kp LGUI   &mo 2    &kp SPACE  &kp BSPC    &mo 2        &mo 7     &none
//                                       ╰───────────────┴──────────┴────────┴──────────┴───────────┴────────────┴─────────┴─────────╯
)

ZMK_LAYER(ergol_fr_acc,
// ╭───────┬─────────────────┬──────────────┬────────────┬─────────────────┬───────╮                    ╭────────────┬───────────┬─────────┬─────────┬────────────────┬────────╮
    &to 0   &none             &none          &none        &none             &none                        &none        &none       &none     &none     &none            &none
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼───────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &none   &FR_A_CIR         &FR_C_CED      &none        &FR_O_CIR         &none                        &none        &kp FR_MICR &none     &FR_TREM  &FR_U_CIR        &none    
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼───────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &none   &FR_A_GRV         &FR_E_ACU      &FR_E_GRV    &FR_E_CIR         &none                        &none        &none       &none     &none     &FR_U_GRV        &none
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼───────┼─────────┬──────────┼────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &none   &none             &none          &none        &none             &none   &none     &none      &none        &none       &none     &none     &none            &none
// ╰───────┴─────────────────┴──────────────┼────────────┼─────────────────┼───────┼─────────┼──────────┼────────────┼───────────┼─────────┼─────────┴────────────────┴────────╯
                                             &none        &none             &none   &none     &none      &none        &none       &none
//                                          ╰────────────┴─────────────────┴───────┴─────────┴──────────┴────────────┴───────────┴─────────╯
)

ZMK_LAYER(ergol_fr_alt,
// ╭───────┬─────────────────┬──────────────┬────────────┬─────────────────┬─────────────╮                    ╭────────────┬─────────────────┬──────────────────┬───────────┬────────────────┬────────╮
    &to 0   &none             &none          &none        &none             &none                              &none        &none             &none              &none       &none            &kp PG_UP
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┤                    ├────────────┼─────────────────┼──────────────────┼───────────┼────────────────┼────────┤
    &none   &kp FR_CIRC       &kp LS(RA(W))  &kp LS(RA(X)) &kp FR_DLR        &kp FR_PERC                        &kp FR_AT    &kp TILDE2        &kp KP_ASTERISK    &kp FR_QUOT &kp FR_GRV       &kp PG_DN
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┤                    ├────────────┼─────────────────┼──────────────────┼───────────┼────────────────┼────────┤
    &none   &kp FR_LCBR       &kp FR_LPRN    &kp FR_RPRN  &kp FR_RCBR       &kp FR_EQL                         &kp FR_BSLS  &kp FR_PLUS       &kp FR_MINS        &kp FR_SLSH &kp FR_DQUO      &none
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┼─────────┬──────────┼────────────┼─────────────────┼──────────────────┼───────────┼────────────────┼────────┤
    &none   &kp LS(GRAVE)     &kp FR_LBRC    &kp FR_RBRC  &kp FR_UNDS       &kp FR_HASH   &none    &none       &kp FR_PIPE  &kp FR_EXLM       &kp FR_SCLN        &kp FR_COLN &kp FR_QUES      &none
// ╰───────┴─────────────────┴──────────────┼────────────┼─────────────────┼─────────────┼─────────┼──────────┼────────────┼─────────────────┼──────────────────┼───────────┴────────────────┴────────╯
                                             &none        &none             &none         &kp DEL   &kp ENTER  &none        &none             &none
//                                          ╰────────────┴─────────────────┴─────────────┴─────────┴──────────┴────────────┴─────────────────┴──────────────────╯
)

ZMK_LAYER(ergol_us,
// ╭───────────────┬──────────┬──────────┬───────────────┬──────────┬────────╮                      ╭────────────┬─────────┬─────────┬─────────────────┬─────────┬────────────────╮
    &kp ESC         &kp N1     &kp N2     &kp N3          &kp N4     &kp N5                          &kp N6       &kp N7    &kp N8    &kp N9            &kp N0    &kp GRAVE
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┤                      ├────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp TAB         &kp Q      &kp C      &kp O           &kp P      &kp W                           &kp J        &kp M     &kp D     &none             &kp Y     &kp MINUS
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┤                      ├────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp LEFT_SHIFT  &kp A      &kp S      &kp E           &kp N      &kp F                           &kp L        &kp R     &kp T     &kp I             &kp U     &kp RIGHT_SHIFT
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┼──────────┬───────────┼────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp LCTRL       &kp Z      &kp X      &dash_question  &kp V      &kp B    &kp LBKT    &kp RBKT   &dot_colon   &kp H     &kp G     &comma_semicolon  &kp K     &kp RCTRL
// ╰───────────────┴──────────┴──────────┼───────────────┼──────────┼────────┼──────────┼───────────┼────────────┼─────────┼─────────┼─────────────────┴─────────┴────────────────╯
                                          &kp LALT        &kp LGUI   &mo 4    &kp SPACE   &kp RET    &mo 4        &kp BSPC  &none
//                                       ╰───────────────┴──────────┴────────┴──────────┴───────────┴────────────┴─────────┴─────────╯
)

ZMK_LAYER(ergol_us_alt,
// ╭───────┬─────────────────┬──────────────┬────────────┬─────────────────┬─────────────╮                    ╭────────────┬─────────────────┬──────────────────┬─────────────┬────────────────┬────────╮
    &to 3   &none             &none          &none        &none             &none                              &none        &none             &none              &none         &none            &none
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┤                    ├────────────┼─────────────────┼──────────────────┼─────────────┼────────────────┼────────┤
    &none   &kp CARET         &kp LT         &kp GT       &kp DLLR          &kp PRCNT                          &kp AT       &kp AMPS          &kp STAR           &kp APOS      &kp GRAVE        &none
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┤                    ├────────────┼─────────────────┼──────────────────┼─────────────┼────────────────┼────────┤
    &none   &kp LBRC          &kp LPAR       &kp RPAR     &kp RBRC          &kp KP_EQUAL                       &kp BSLH     &kp KP_PLUS       &kp KP_MINUS       &kp KP_SLASH  &kp DQT          &none
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┼─────────┬──────────┼────────────┼─────────────────┼──────────────────┼─────────────┼────────────────┼────────┤
    &none   &kp TILDE2        &kp LBKT       &kp RBKT     &kp UNDER         &kp HASH      &none     &none      &kp PIPE     &kp EXCL          &kp SEMI           &kp COLON     &kp QMARK        &none
// ╰───────┴─────────────────┴──────────────┼────────────┼─────────────────┼─────────────┼─────────┼──────────┼────────────┼─────────────────┼──────────────────┼─────────────┴────────────────┴────────╯
                                             &none        &none             &none         &none     &none      &none        &none             &none
//                                          ╰────────────┴─────────────────┴─────────────┴─────────┴──────────┴────────────┴─────────────────┴──────────────────╯
)

ZMK_LAYER(games_fr,
// ╭───────────────┬─────────────────┬──────────────┬────────────┬──────────────┬──────────╮                    ╭────────────┬───────────┬─────────┬─────────┬────────────────┬────────╮
    &kp ESC         &none             &none          &none        &none          &none                           &none        &none       &none     &none     &none            &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &kp TAB         &kp FR_A          &kp FR_Z       &kp FR_E     &kp FR_R       &kp FR_T                        &none        &kp FR_MICR &none     &FR_TREM  &FR_U_CIR        &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &kp LEFT_SHIFT  &kp FR_Q          &kp FR_S       &kp FR_D     &kp FR_F       &kp FR_G                        &none        &none       &none     &none     &FR_U_GRV        &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┼─────────┬──────────┼────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &kp LCTRL       &kp FR_W          &kp FR_X       &kp FR_C     &kp FR_V       &kp FR_B   &none     &to 1      &none        &none       &none     &none     &none            &none
// ╰───────────────┴─────────────────┴──────────────┼────────────┼──────────────┼──────────┼─────────┼──────────┼────────────┼───────────┼─────────┼─────────┴────────────────┴────────╯
                                                     &none        &mo 6          &kp SPACE  &kp SPACE &none      &none        &none       &none
//                                                  ╰────────────┴──────────────┴──────────┴─────────┴──────────┴────────────┴───────────┴─────────╯
)

ZMK_LAYER(games_fr_alt,
// ╭───────────────┬─────────────────┬──────────────┬────────────┬──────────────┬──────────╮                    ╭────────────┬───────────┬─────────┬─────────┬────────────────┬────────╮
    &kp ESC         &none             &none          &none        &none          &none                           &none        &none       &none     &none     &none            &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &kp TAB         &kp FR_Y          &kp FR_U       &kp FR_I     &kp FR_O       &kp FR_P                        &none        &kp FR_MICR &none     &FR_TREM  &FR_U_CIR        &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &kp LEFT_SHIFT  &kp FR_H          &kp FR_J       &kp FR_K     &kp FR_L       &kp FR_M                        &none        &none       &none     &none     &FR_U_GRV        &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┼─────────┬──────────┼────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &kp LCTRL       &kp FR_N          &kp FR_X       &kp FR_C     &kp FR_V       &kp FR_B   &none     &to 1      &none        &none       &none     &none     &none            &none
// ╰───────────────┴─────────────────┴──────────────┼────────────┼──────────────┼──────────┼─────────┼──────────┼────────────┼───────────┼─────────┼─────────┴────────────────┴────────╯
                                                     &none        &none          &kp SPACE  &kp SPACE &none      &none        &none       &none
//                                                  ╰────────────┴──────────────┴──────────┴─────────┴──────────┴────────────┴───────────┴─────────╯
)

ZMK_LAYER(navigation,
// ╭───────────────┬─────────────────┬──────────────┬────────────┬──────────────┬──────────╮                    ╭────────────┬───────────┬─────────┬─────────┬────────────────┬────────╮
    &kp ESC         &kp F1            &kp F2         &kp F3       &kp F4         &kp F5                          &kp F6       &kp F7      &kp F8    &kp F9    &kp F10          &kp F11
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &none           &none             &kp PG_UP      &kp UP       &kp PG_DN      &none                           &none        &none       &none     &none     &none            &kp F12
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &none           &none             &kp LEFT       &kp DOWN     &kp RIGHT      &none                           &none        &none       &none     &none     &none            &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┼─────────┬──────────┼────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &none           &none             &none          &none        &none          &none      &none     &none      &none        &none       &none     &none     &none            &none
// ╰───────────────┴─────────────────┴──────────────┼────────────┼──────────────┼──────────┼─────────┼──────────┼────────────┼───────────┼─────────┼─────────┴────────────────┴────────╯
                                                     &none        &none          &none      &none     &none      &none        &none       &none
//                                                  ╰────────────┴──────────────┴──────────┴─────────┴──────────┴────────────┴───────────┴─────────╯
)

ZMK_LAYER(layer_switch,
// ╭───────────────┬─────────────────┬──────────────┬────────────┬──────────────┬─────────────╮                    ╭────────────┬───────────┬─────────┬─────────┬────────────────┬────────╮
    &bt BT_CLR      &bt BT_SEL 0      &bt BT_SEL 1   &bt BT_SEL 2 &bt BT_SEL 3   &bt BT_SEL 4                       &none        &none       &none     &none     &none            &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼─────────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &none           &none             &none          &none        &none          &none                              &none        &none       &none     &none     &none            &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼─────────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &none           &to 0             &to 3          &to 5        &to 7          &none                              &none        &none       &none     &none     &none            &none
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼─────────────┼─────────┬──────────┼────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &none           &none             &none          &none        &none          &none         &none     &none      &none        &none       &none     &none     &none            &none
// ╰───────────────┴─────────────────┴──────────────┼────────────┼──────────────┼─────────────┼─────────┼──────────┼────────────┼───────────┼─────────┼─────────┴────────────────┴────────╯
                                                     &none        &none          &none         &none     &none      &none        &none       &none
//                                                  ╰────────────┴──────────────┴─────────────┴─────────┴──────────┴────────────┴───────────┴─────────╯
)

