/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#define HOST_OS 1
#include "keymap_french.h"
#include "zmk-helpers/helper.h"

// Source desired key-position labels

#include "zmk-helpers/key-labels/lily58.h"

// Source unicode-chars for desired languages
#include "zmk-helpers/unicode-chars/french.dtsi"
#include "zmk-helpers/unicode-chars/greek.dtsi"



#define ERGOL_FR 0
#define ERGOL_FR_ACC 1
#define ERGOL_FR_ALT 2
#define ERGOL_US 3
#define ERGOL_US_ALT 4
#define GAMES 5

#include "french-morph.h"
#include "french-macro.h"
#include "alt-morph.h"

ZMK_LAYER(ergol_fr,
// ╭───────────────┬──────────┬──────────┬───────────────┬──────────┬────────╮                      ╭────────────┬─────────┬─────────┬─────────────────┬─────────┬────────────────╮
    &kp ESC         &FR_N1     &FR_N2     &FR_N3          &FR_N4     &FR_N5                          &FR_N6       &FR_N7    &FR_N8    &FR_N9            &FR_N0    &kp GRAVE
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┤                      ├────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp TAB         &kp FR_Q   &kp C      &kp O           &kp P      &kp FR_W                        &kp J        &kp FR_M  &kp D     &dead_key         &kp Y     &kp MINUS
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┤                      ├────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp LEFT_SHIFT  &kp FR_A   &kp S      &kp E           &kp N      &kp F                           &kp L        &kp R     &kp T     &kp I             &kp U     &kp RIGHT_SHIFT
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┼──────────┬───────────┼────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp LCTRL       &kp FR_Z   &kp X      &dash_question  &kp V      &kp B    &kp LBKT    &kp RBKT   &dot_colon   &kp H     &kp G     &comma_semicolon  &kp K     &kp RCTRL
// ╰───────────────┴──────────┴──────────┼───────────────┼──────────┼────────┼──────────┼───────────┼────────────┼─────────┼─────────┼─────────────────┴─────────┴────────────────╯
                                          &kp LALT        &kp LGUI   &mo 2    &kp SPACE   &kp RET    &mo 2        &kp BSPC  &to 3
//                                       ╰───────────────┴──────────┴────────┴──────────┴───────────┴────────────┴─────────┴─────────╯
)

ZMK_LAYER(ergol_fr_acc,
// ╭───────┬─────────────────┬──────────────┬────────────┬─────────────────┬───────╮                    ╭────────────┬───────────┬─────────┬─────────┬────────────────┬────────╮
    &to 0   &trans            &trans         &trans       &trans            &trans                       &trans       &trans      &trans    &trans    &trans           &trans
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼───────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &trans  &FR_A_CIR         &FR_C_CED      &trans       &FR_O_CIR         &trans                       &trans       &kp FR_MICR &trans    &FR_TREM  &FR_U_CIR        &trans
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼───────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &trans  &FR_A_GRV         &FR_E_ACU      &FR_E_GRV    &FR_E_CIR         &trans                       &trans       &trans      &trans    &trans    &FR_U_GRV        &trans
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼───────┼─────────┬──────────┼────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &trans  &trans            &trans         &trans       &trans            &trans  &trans    &trans     &trans       &trans      &trans    &trans    &trans           &trans
// ╰───────┴─────────────────┴──────────────┼────────────┼─────────────────┼───────┼─────────┼──────────┼────────────┼───────────┼─────────┼─────────┴────────────────┴────────╯
                                             &trans       &trans            &trans  &trans    &trans     &trans       &trans      &trans
//                                          ╰────────────┴─────────────────┴───────┴─────────┴──────────┴────────────┴───────────┴─────────╯
)

ZMK_LAYER(ergol_fr_alt,
// ╭───────┬─────────────────┬──────────────┬────────────┬─────────────────┬─────────────╮                    ╭────────────┬─────────────────┬──────────────────┬───────────┬────────────────┬────────╮
    &to 0   &trans            &trans         &trans       &trans            &trans                             &trans       &trans            &trans             &trans      &trans           &trans
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┤                    ├────────────┼─────────────────┼──────────────────┼───────────┼────────────────┼────────┤
    &trans  &kp FR_CIRC       &kp LT         &kp GT       &kp FR_DLR        &kp FR_PERC                        &kp FR_AT    &kp AMPS          &kp KP_ASTERISK    &kp FR_QUOT &kp FR_GRV       &trans
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┤                    ├────────────┼─────────────────┼──────────────────┼───────────┼────────────────┼────────┤
    &trans  &kp FR_LCBR       &kp FR_LPRN    &kp FR_RPRN  &kp FR_RCBR       &kp FR_EQL                         &kp FR_BSLS  &kp FR_PLUS       &kp FR_MINS        &kp FR_SLSH &kp FR_DQUO      &trans
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┼─────────┬──────────┼────────────┼─────────────────┼──────────────────┼───────────┼────────────────┼────────┤
    &trans  &kp TILDE2        &kp FR_LBRC    &kp FR_RBRC  &kp FR_UNDS       &kp FR_HASH   &trans    &trans     &kp FR_PIPE  &kp FR_EXLM       &kp FR_SCLN        &kp FR_COLN &kp FR_QUES      &trans
// ╰───────┴─────────────────┴──────────────┼────────────┼─────────────────┼─────────────┼─────────┼──────────┼────────────┼─────────────────┼──────────────────┼───────────┴────────────────┴────────╯
                                             &trans       &trans            &trans        &trans    &trans     &trans       &trans            &trans
//                                          ╰────────────┴─────────────────┴─────────────┴─────────┴──────────┴────────────┴─────────────────┴──────────────────╯
)


ZMK_LAYER(ergol_us,
// ╭───────────────┬──────────┬──────────┬───────────────┬──────────┬────────╮                      ╭────────────┬─────────┬─────────┬─────────────────┬─────────┬────────────────╮
    &kp ESC         &kp N1     &kp N2     &kp N3          &kp N4     &kp N5                          &kp N6       &kp N7    &kp N8    &kp N9            &kp N0    &kp GRAVE
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┤                      ├────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp TAB         &kp Q      &kp C      &kp O           &kp P      &kp W                           &kp J        &kp M     &kp D        &dead_key         &kp Y     &kp MINUS
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┤                      ├────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp LEFT_SHIFT  &kp A      &kp S      &kp E           &kp N      &kp F                           &kp L        &kp R     &kp T     &kp I             &kp U     &kp RIGHT_SHIFT
// ├───────────────┼──────────┼──────────┼───────────────┼──────────┼────────┼──────────┬───────────┼────────────┼─────────┼─────────┼─────────────────┼─────────┼────────────────┤
    &kp LCTRL       &kp Z      &kp X      &dash_question  &kp V      &kp B    &kp LBKT    &kp RBKT   &dot_colon   &kp H     &kp G     &comma_semicolon  &kp K     &kp RCTRL
// ╰───────────────┴──────────┴──────────┼───────────────┼──────────┼────────┼──────────┼───────────┼────────────┼─────────┼─────────┼─────────────────┴─────────┴────────────────╯
                                          &kp LALT        &kp LGUI   &mo 2    &kp SPACE   &kp RET    &mo 2        &kp BSPC  &to 5
//                                       ╰───────────────┴──────────┴────────┴──────────┴───────────┴────────────┴─────────┴─────────╯
)

ZMK_LAYER(ergol_us_alt,
// ╭───────┬─────────────────┬──────────────┬────────────┬─────────────────┬─────────────╮                    ╭────────────┬─────────────────┬──────────────────┬───────────┬────────────────┬────────╮
    &to 0   &trans            &trans         &trans       &trans            &trans                             &trans       &trans            &trans             &trans      &trans           &trans
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┤                    ├────────────┼─────────────────┼──────────────────┼───────────┼────────────────┼────────┤
    &trans  &kp CARET         &kp LT         &kp GT       &kp DLLR           &kp PRCNT                         &kp AT       &kp AMPS          &kp STAR           &kp APOS    &kp GRAVE        &trans
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┤                    ├────────────┼─────────────────┼──────────────────┼───────────┼────────────────┼────────┤
    &trans  &kp LBCR          &kp LPAR       &kp RPAR     &kp RBCR          &kp KP_EQUAL                       &kp BSLH     &kp KP_PLUS       &kp KP_MINUS       &kp KP_SLASH  &kp DQT          &trans
// ├───────┼─────────────────┼──────────────┼────────────┼─────────────────┼─────────────┼─────────┬──────────┼────────────┼─────────────────┼──────────────────┼───────────┼────────────────┼────────┤
    &trans  &kp TILDE2        &kp LBKT       &kp RBKT     &kp UNDER         &kp HASH      &trans    &trans     &kp PIPE     &kp EXCL          &kp SEMI           &kp COLON   &kp QMARK        &trans
// ╰───────┴─────────────────┴──────────────┼────────────┼─────────────────┼─────────────┼─────────┼──────────┼────────────┼─────────────────┼──────────────────┼───────────┴────────────────┴────────╯
                                             &trans       &trans            &trans        &trans    &trans     &trans       &to 0             &trans
//                                          ╰────────────┴─────────────────┴─────────────┴─────────┴──────────┴────────────┴─────────────────┴──────────────────╯
)

ZMK_LAYER(games_fr,
// ╭───────────────┬─────────────────┬──────────────┬────────────┬──────────────┬──────────╮                    ╭────────────┬───────────┬─────────┬─────────┬────────────────┬────────╮
    &kp ESC         &trans            &trans         &trans       &trans         &trans                          &trans       &trans      &trans    &trans    &trans           &trans
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &kp TAB         &kp FR_A          &kp FR_Z       &kp FR_E     &kp FR_R       &kp FR_T                        &trans       &kp FR_MICR &trans    &FR_TREM  &FR_U_CIR        &trans
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┤                    ├────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &kp LEFT_SHIFT  &kp FR_Q          &kp FR_S       &kp FR_D     &kp FR_F       &kp FR_G                        &trans       &trans      &trans    &trans    &FR_U_GRV        &trans
// ├───────────────┼─────────────────┼──────────────┼────────────┼──────────────┼──────────┼─────────┬──────────┼────────────┼───────────┼─────────┼─────────┼────────────────┼────────┤
    &kp LCTRL       &kp FR_W          &kp FR_X       &kp FR_C     &kp FR_V       &kp FR_B   &trans    &to 1      &trans       &trans      &trans    &trans    &trans           &trans
// ╰───────────────┴─────────────────┴──────────────┼────────────┼──────────────┼──────────┼─────────┼──────────┼────────────┼───────────┼─────────┼─────────┴────────────────┴────────╯
                                                     &trans       &trans         &trans     &trans    &trans     &trans       &trans      &trans
//                                                  ╰────────────┴──────────────┴──────────┴─────────┴──────────┴────────────┴───────────┴─────────╯
)
