/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"

// Source desired key-position labels

#include "zmk-helpers/key-labels/lily58.h"

// Source unicode-chars for desired languages

#include "zmk-helpers/unicode-chars/french.dtsi"

//    behaviors {
//        dash_question: dash_question {
//            compatible = "zmk,behavior-mod-morph";
//            label = "DASH_QUESTION";
//            bindings = <&kp MINUS>, <&kp QUESTION>;
//
//            #binding-cells = <0>;
//            mods = <(MOD_LSFT|MOD_RSFT)>;
//        };
//
//        dot_colon: dot_colon {
//            compatible = "zmk,behavior-mod-morph";
//            label = "DOT_COLON";
//            bindings = <&kp DOT>, <&kp COLON>;
//
//            #binding-cells = <0>;
//            mods = <(MOD_LSFT|MOD_RSFT)>;
//        };
//
//        comma_semicolon: comma_semicolon {
//            compatible = "zmk,behavior-mod-morph";
//            label = "COMMA_SEMICOLON";
//            bindings = <&kp COMMA>, <&kp SEMICOLON>;
//
//            #binding-cells = <0>;
//            mods = <(MOD_LSFT|MOD_RSFT)>;
//        };
//    };
#define DEF 0
#define ACC 1

ZMK_LAYER(base,
// ╭───────────────┬───────┬───────┬───────────────┬─────────┬───────╮                     ╭────────────┬─────────┬─────────┬─────────────────┬───────┬────────────────╮
    &kp ESC         &kp N1  &kp N2  &kp N3          &kp N4    &kp N5                        &kp N6       &kp N7    &kp N8    &kp N9            &kp N0  &kp GRAVE
// ├───────────────┼───────┼───────┼───────────────┼─────────┼───────┤                     ├────────────┼─────────┼─────────┼─────────────────┼───────┼────────────────┤
    &kp TAB         &kp Q   &kp C   &kp O           &kp P     &kp W                         &kp J        &kp M     &kp D     &to 1             &kp Y   &kp MINUS
// ├───────────────┼───────┼───────┼───────────────┼─────────┼───────┤                     ├────────────┼─────────┼─────────┼─────────────────┼───────┼────────────────┤
    &kp LEFT_SHIFT  &kp A   &kp S   &kp E           &kp N     &kp F                         &kp L        &kp R     &kp T     &kp I             &kp U   &kp RIGHT_SHIFT
// ├───────────────┼───────┼───────┼───────────────┼─────────┼───────┼──────────┬──────────┼────────────┼─────────┼─────────┼─────────────────┼───────┼────────────────┤
    &kp LCTRL       &kp Z   &kp X   &dash_question  &kp V     &kp B   &kp LBKT    &kp RBKT  &dot_colon   &kp H     &kp G     &comma_semicolon  &kp K   &kp RCTRL
// ╰───────────────┴───────┴───────┼───────────────┼─────────┼───────┼──────────┼──────────┼────────────┼─────────┼─────────┼─────────────────┴───────┴────────────────╯
                                    &kp LALT        &kp LGUI  &mo 0   &kp SPACE   &kp RET   &mo 0        &kp BSPC  &kp RGUI
//                                 ╰───────────────┴─────────┴───────┴──────────┴──────────┴────────────┴─────────┴─────────╯
)

ZMK_LAYER(acc,
// ╭──────────────┬─────────┬───────┬───────────────┬─────────┬───────╮                     ╭────────────┬─────────┬─────────┬─────────────────┬───────┬────────────────╮
    &trans         &trans    &trans  &trans          &trans    &trans                        &trans       &trans    &trans    &trans            &trans  &trans
// ├──────────────┼─────────┼───────┼───────────────┼─────────┼───────┤                     ├────────────┼─────────┼─────────┼─────────────────┼───────┼────────────────┤
    &trans         &trans    &trans  &trans          &trans    &trans                        &trans       &trans    &trans    &trans            &trans  &trans
// ├──────────────┼─────────┼───────┼───────────────┼─────────┼───────┤                     ├────────────┼─────────┼─────────┼─────────────────┼───────┼────────────────┤
    &trans         &fr_a_gr  &trans  &trans          &trans    &trans                        &trans       &trans    &trans    &trans            &trans  &trans
// ├──────────────┼─────────┼───────┼───────────────┼─────────┼───────┼──────────┬──────────┼────────────┼─────────┼─────────┼─────────────────┼───────┼────────────────┤
    &trans         &trans    &trans  &trans          &trans    &trans  &trans     &trans     &trans       &trans    &trans    &trans            &trans  &trans
// ╰──────────────┴─────────┴───────┼───────────────┼─────────┼───────┼──────────┼──────────┼────────────┼─────────┼─────────┼─────────────────┴───────┴────────────────╯
                                     &trans          &trans    &trans  &trans     &trans     &trans       &trans    &trans
//                                 ╰───────────────┴─────────┴────────┴──────────┴──────────┴────────────┴─────────┴─────────╯
)
